/******************************
Styles added by nifty-generator
*******************************/

body {
  background-color: #4B7399;
  font-family: 'Trebuchet MS', sans-serif, Verdana, Helvetica, Arial;
  font-size: 16px;
  color: #483324;
}

a {
  color: #0000FF;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#user_nav {
  float: right;
}

/******************************
Styles added by me
*******************************/

input {
  color: #333;
  line-height: 1em !important;
}

h1 {
  clear: both;
}

table {
  display: table;
  border-collapse: collapse;
  margin: 15px 0;
  padding: 0;
  border: 1px solid #B7CAF6;
  font-size: 100%;
}

tr {
  display: table-row;
}

th, td {
  display: table-cell;
  border: 1px solid #B7CAF6;
  margin: 0;
  padding: 5px;
  vertical-align: top;
  text-align: center;
}

th {
  background: #E7ECFD;
  color: #192666;
  font-weight: bold;
}

