%form#new_payee{                  |
    :class => "formtastic payee", |
    :action => action,            |
    :method => "post"             |
  }                               |
  %input{:name => "_method", :type => "hidden", :value => method}
  %input{                                 |
    :name => "authenticity_token",        |
    :type => "hidden",                    |
    :value => h(form_authenticity_token)  |
  }                                       |
  %fieldset.inputs
    %legend
      %span Details
    %ol
      %li#payee_name_input(class="string optional")
        %label{:for => "payee_name"}
          Name
        %input#payee_name{        |
          :name => "payee[name]", |
          :type => "text",        |
          :value => @payee.name   |
        }                         |
      - input_class = "string required"
      - email_errors = @payee.errors[:email]
      - unless email_errors.empty?
        - input_class += " error"
        - error_message = email_errors.join(", ")
      %li#payee_email_input{:class => input_class}
        - unless email_errors.empty?
          %p.inline-errors
            = error_message
        %label{:for => "payee_email"}
          Paypal Email
          %abbr{:title => "required"}*
        %input#payee_email{        |
          :name => "payee[email]", |
          :type => "text",         |
          :value => @payee.email   |
        }                          |
        %p.inline-hints
          The payees Paypal email address
      %li#payee_maximum_amount_input(class="string optional")
        %label{:for => "payee_maximum_amount"}
          Maximum amount
          - amount = @payee.maximum_amount
          - amount = amount.zero? ? nil : amount
        %input#payee_maximum_amount{        |
          :name => "payee[maximum_amount]", |
          :type => "text",                  |
          :value => amount                  |
        }                                   |
        %p.inline-hints
          The maximum amount you would like to pay this payee
      - select_class = "select optional"
      - currency_errors = @payee.errors[:currency]
      - unless currency_errors.empty?
        - select_class += "select required error"
        - error_message = currency_errors.join(", ")
      %li#payee_currency_input{:class => select_class}
        - unless currency_errors.empty?
          %p.inline-errors
            = error_message
        %label{:for => "payee_currency"}
          Currency
        %select#payee_currency{       |
          :name => "payee[currency]"  |
        }                             |
          %option{:value => ''}
          - Payee::CURRENCIES.each do |currency|
            - selected = nil
            - selected = "selected" if @payee.currency == currency
            %option{:value => currency, :selected => selected }
              = currency
  %fieldset.buttons
    %ol
      %li.commit
        - if @payee.new?
          - button_class = "create"
          - button_text = "Add"
        - else
          - button_class = "update"
          - button_text = "Update"
        %input#payee_submit{        |
          :class => button_class,   |
          :name => "commit",        |
          :type =>"submit",         |
          :value => button_text     |
        }                           |
        or
        %a{:href => "/admin/payees"} Cancel
